NOIP_USERNAME=tu_correo_o_usuario_noip
NOIP_PASSWORD=tu_password_noip
NOIP_HOSTNAME=tu-host.ddns.net
# NOIP_HOSTNAMES=host-1.ddns.net,host-2.ddns.net

GMAIL_EMAIL=tu_correo_gmail@gmail.com
GMAIL_SENDER_FILTER=No-IP

HEADLESS=false
VERIFICATION_TIMEOUT_MS=180000
POLL_INTERVAL_MS=10000
