NOIP_USERNAME=lgalnares@gmailcom
NOIP_PASSWORD=B3holder1
NOIP_HOSTNAME=galni.ddns.net
# NOIP_HOSTNAMES=host-1.ddns.net,host-2.ddns.net

GMAIL_EMAIL=lgalnares@gmail.com
GMAIL_APP_PASSWORD=B3holder1
GMAIL_SENDER_FILTER=No-IP Notices

HEADLESS=false
VERIFICATION_TIMEOUT_MS=180000
POLL_INTERVAL_MS=10000
